#experience {
  background-color: $primary-color;
  background-image: linear-gradient(135deg,
      $primary-color 0%,
      $secondary-color 100%);

  height: 100%;
  border-top: 0px;
  padding-bottom: 10%;

  @include respond(tab-land) {
    height: 100%;
    -webkit-clip-path: none;
    clip-path: none;
  }


  .experience-item {
    background: #fff;
    height: 100%;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: left;
    font-size: $default-font-size;
    margin-bottom: 2rem;

    &__text {
      height: 100%;
      @include respond(tab-port) {
        text-align: left;
      }

      @include respond(tab-port-sm) {
        text-align: center;
      }

      &-title {
        height: 100%;
        font-weight: bold;


        @include respond(phone) {
          font-size: 2rem;
        }
      }

      &-duration {
        height: 100%;
        margin-bottom: 1.8rem;
        color: $dark-grey;

      }
    }
  }
}