#open-source-contributions {
    background-color: $white-color;
    color: $dark-blue-text;

    justify-content: center;
    padding: 5% 0;
    border-top: 0px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

    @include respond(tab-land) {
        -webkit-clip-path: none;
        clip-path: none;
    }

    .opensource-wrapper {
        margin-bottom: 10rem;
        justify-content: center;


        &__table {
            width: 80%;
            margin-bottom: 2rem;
            border-collapse: collapse;
            font-size: $default-font-size;
            border: 0.2px solid $dark-grey;

            thead {

                border-bottom: 0.2px solid $dark-grey;
                background-color: $primary-color;
            }

            tbody {
                tr {

                    background-color: $primary-color;

                    color: $dark-grey;
                }
            }

            th,
            td {

                padding: 1rem;
            }

            th {

                text-align: center;
            }

            a {
                color: $white-color;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &__additional-info {
            width: 80%;
            font-size: $default-font-size;
            color: $white-color;

            a {
                color: $secondary-color;
                text-decoration: none;

            }
        }
    }
}